{% extends 'base.html.twig' %}

{% block title %}Voir tous les categories{% endblock %}

{% block body %}

<div class="container">

    <section>
        <h1>Voir tous les categories</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom de la catégorie</th>
                </tr>
            </thead>

            <tbody>
                {% for category in categories %}

                    <tr>
                        <td>{{ category.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div> 

{% endblock %}
