<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <header>
            <nav>
                <ul> <!-- "index.php?controleur=eleve&action=controleur_get_all_eleve" -->
                    <li><a href="{{ path('eleve') }}"> Accueil</a></li>
                    <li><a href="{{ path('classe_all') }}"> Gestion des Classes</a></li>
                    <li><a href=""> Gestion devoir</a></li>
                    <li><a href="devoirEleve/controleur_get_all_devoir_eleve">Notes des élèves/devoirs</a></li>
                </ul>
            </nav>
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
